
<html>
<title>
  Challenges page
</title>
<head>
  {{#if logged}}
  {{> header2}}
  {{else}}
  {{> header}}
  {{/if}}
</head>
<body>
  <b>{{message}}</b>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>
        Challenge name
      </th>
      <th>
        Challenge Points
      </th>
      <th>
        Challenge Page
      </th>
    </tr>
  </thead>
{{#chall}}
  <tr>
    <td>
      {{ChallengeName}}
    </td>
    <td>
      {{ChallengePoints}}
    </td>
    <td>
      <a href='/chall_page/{{_id}}'>Link</a>
    </td>
  </tr>
{{/chall}}
</table>
</body>
</html>
