<html>
<title>
  Submissions history
</title>
<head>
  {{> header2}}
</head>


<table class="table" >
  <thead class="thead-inverse">
  <tr>
    <th>
      Submission Date
    </th>
    <th>
      Challenge
    </th>
    <th>
      Language
    </th>
    <th>
      Verdict
    </th>
  </tr>
</thead>
  {{#submission}}
  <tr>
    <td>
      {{time}}
    </td>
    <td>
      {{challName}}
    </td>
    <td>
      {{SubmissionLang}}
    </td>
    <th scope="row">
      {{#if truth}}
      <p class="text-success">{{SubmissionVerdict}}</p>
      {{else}}
      <p class="text-danger">{{SubmissionVerdict}}</p>
      {{/if}}
    </th>
  </tr>
  {{/submission}}
</table>
</html>
